<div class="cart_title"><%= t('carts.cart.title') %></div>
<table>
  <tr>
    <td colspan="4" class="sum_of_price">Sum</td>
  </tr>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td></td>
    <td colspan="2"><%= t('carts.cart.total') %>></td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<%= button_to t('carts.cart.checkout'), new_order_path, method: :get %>
<%= button_to t('carts.cart.empty'), cart, method: :delete, data: {confirm: t('carts.cart.confirm')} %>
