<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('store.index.title_html') %></h1>
<% if @count >= 5 %>
  <div>
    <%= t('store.index.count') %> <%= pluralize(@count, 'times') %>
  </div>
<% end %>
<%= render partial: 'item', collection: @products %>
