<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% @products.each do |f| %>
  <div class="entry">
    <%= link_to image_tag(f.image_url), f %>
    <h3><%= f.title %></h3>
    <%= sanitize(f.description) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(f.price) %></span>
    </div>
  </div>
<% end %>